In [94]:
import pandas as pd

In [95]:
census=pd.read_csv("census_data.csv")

In [96]:
census.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K

In [97]:
census['income'].unique()

array(['<=50K', '>50K'], dtype=object)

In [98]:
def label_fix(label):
    if label=='<=50K':
        return 0
    else:
        return 1

In [99]:
census['income']=census['income'].apply(label_fix)

In [100]:
from sklearn.model_selection import train_test_split

# FOR UNDERSTANDING AXIS IN PANDAS

In [101]:
# ALL THE COLUMN WILLL BE CONSIDERED EXCEPT INCOME COLUMN FOR AXIS=1
# axis=1 for removing column
# axis=0 for removing rows
#census.mean(axis=0)   row wise mean calculated
#census.mean(axis=1) column wise mean calculated

In [102]:
census.mean(axis=0).head()

age                  38.581647
fnlwgt           189778.366512
education_num        10.080679
capital_gain       1077.648844
capital_loss         87.303830
dtype: float64

In [103]:
census.mean(axis=1).head()

0    11649.714286
1    19619.285714
2    27219.000000
3    20622.428571
4    38379.142857
dtype: float64

In [104]:
x=census.drop('income' ,axis=1)

In [105]:
x.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States

In [106]:
y=census.drop(2,axis=0)

In [107]:
y.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,0
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,0
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,0
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,0
5,34,Private,216864,HS-grad,9,Divorced,Other-service,Unmarried,White,Female,0,3770,45,United-States,0

# AXIS END

In [108]:
census=census.drop('fnlwgt',axis=1)

In [109]:
census=census.drop('race',axis=1)

In [110]:
x_data=census.drop('income',axis=1)
y_labels=census['income']
x_train,x_test,y_train,y_test=train_test_split(x_data,y_labels,test_size=0.3,random_state=101)
#training=70% testing=30%

* Tenserflow offers an API called estimator
* model=tf.estimator.LinearClassifier(feature_columns=feat_cols)
* model.train(input_fn=input_func,steps=5000)
* prepare feature columns and input functions

In [111]:
census.columns

Index(['age', 'workclass', 'education', 'education_num', 'marital_status',
       'occupation', 'relationship', 'sex', 'capital_gain', 'capital_loss',
       'hours_per_week', 'native_country', 'income'],
      dtype='object')

In [112]:
import tensorflow as tf

# feature_column is configuration class

In [113]:
sex=tf.feature_column.categorical_column_with_vocabulary_list("sex", ['Female','Male'])
occupation=tf.feature_column.categorical_column_with_hash_bucket("occupation",hash_bucket_size=1000)
marital_status=tf.feature_column.categorical_column_with_hash_bucket("marital_status",hash_bucket_size=1000)
relationship=tf.feature_column.categorical_column_with_hash_bucket("relationship",hash_bucket_size=1000)
education=tf.feature_column.categorical_column_with_hash_bucket("education",hash_bucket_size=1000)
workclass=tf.feature_column.categorical_column_with_hash_bucket("workclass",hash_bucket_size=1000)
native_country=tf.feature_column.categorical_column_with_hash_bucket("native_country",hash_bucket_size=1000)

### create the continous feature_column for the continuous value using numeric_column

In [114]:
age=tf.feature_column.numeric_column("age")
education_num=tf.feature_column.numeric_column("education_num")
capital_gain=tf.feature_column.numeric_column("capital_gain")
capital_loss=tf.feature_column.numeric_column("capital_loss")
hours_per_week=tf.feature_column.numeric_column("hours_per_week")

### put all these variables into a single list with variable name feat_cols

In [115]:
feat_cols=[sex,occupation,marital_status,relationship,education,workclass,native_country,
          age,education_num,capital_gain,capital_loss,hours_per_week]

## Create the input Function

### Batch Size is up to you

In [119]:
input_func=tf.estimator.inputs.pandas_input_fn(x=x_train,y=y_train,batch_size=100,num_epochs=None,shuffle=True)


# batch_size tells us that how many record to be read at a time

## Create your model with tf.estimator
### Create a LinearClassfier

In [120]:
model=tf.estimator.LinearClassifier(feature_columns=feat_cols)

INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: C:\Users\HP\AppData\Local\Temp\tmp9b1illsg
INFO:tensorflow:Using config: {'_model_dir': 'C:\\Users\\HP\\AppData\\Local\\Temp\\tmp9b1illsg', '_tf_random_seed': None, '_save_summary_steps': 100, '_save_checkpoints_steps': None, '_save_checkpoints_secs': 600, '_session_config': None, '_keep_checkpoint_max': 5, '_keep_checkpoint_every_n_hours': 10000, '_log_step_count_steps': 100, '_train_distribute': None, '_device_fn': None, '_service': None, '_cluster_spec': <tensorflow.python.training.server_lib.ClusterSpec object at 0x0000015F31133DD8>, '_task_type': 'worker', '_task_id': 0, '_global_id_in_cluster': 0, '_master': '', '_evaluation_master': '', '_is_chief': True, '_num_ps_replicas': 0, '_num_worker_replicas': 1}

### Train your model on the data for at least 5000 steps

In [121]:
model.train(input_fn=input_func,steps=5000)

INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
INFO:tensorflow:Saving checkpoints for 0 into C:\Users\HP\AppData\Local\Temp\tmp9b1illsg\model.ckpt.
INFO:tensorflow:loss = 69.31472, step = 1
INFO:tensorflow:global_step/sec: 186.84
INFO:tensorflow:loss = 172.8144, step = 101 (0.612 sec)
INFO:tensorflow:global_step/sec: 266.998
INFO:tensorflow:loss = 208.70145, step = 201 (0.299 sec)
INFO:tensorflow:global_step/sec: 381.246
INFO:tensorflow:loss = 87.4299, step = 301 (0.260 sec)
INFO:tensorflow:global_step/sec: 387.13
INFO:tensorflow:loss = 145.39867, step = 401 (0.258 sec)
INFO:tensorflow:global_step/sec: 381.816
INFO:tensorflow:loss = 475.56854, step = 501 (0.262 sec)
INFO:tensorflow:global_step/sec: 379.8
INFO:tensorflow:loss = 885.8115, step = 601 (0.265 sec)
INFO:tensorflow:global_step/sec: 382.701
INFO:tensorflow:loss = 121.58294, step = 701 (0.262 sec)
INFO:tensorflow:global_step/sec: 373.877
INFO:tensorflow:loss = 27.073767, step = 801 (0.267 sec)
INFO:tensorflow:global_step/sec: 390.085
INFO:tensorflow:loss = 733.53577, step = 901 (0.256 sec)
INFO:tensorflow:global_step/sec: 374.126
INFO:tensorflow:loss = 45.150864, step = 1001 (0.267 sec)
INFO:tensorflow:global_step/sec: 376.958
INFO:tensorflow:loss = 36.15021, step = 1101 (0.265 sec)
INFO:tensorflow:global_step/sec: 368.622
INFO:tensorflow:loss = 138.79317, step = 1201 (0.271 sec)
INFO:tensorflow:global_step/sec: 378.427
INFO:tensorflow:loss = 55.69732, step = 1301 (0.262 sec)
INFO:tensorflow:global_step/sec: 382.641
INFO:tensorflow:loss = 179.74173, step = 1401 (0.263 sec)
INFO:tensorflow:global_step/sec: 377.003
INFO:tensorflow:loss = 470.79312, step = 1501 (0.265 sec)
INFO:tensorflow:global_step/sec: 379.802
INFO:tensorflow:loss = 34.4704, step = 1601 (0.263 sec)
INFO:tensorflow:global_step/sec: 344.516
INFO:tensorflow:loss = 33.370544, step = 1701 (0.288 sec)
INFO:tensorflow:global_step/sec: 343.386
INFO:tensorflow:loss = 80.510864, step = 1801 (0.291 sec)
INFO:tensorflow:global_step/sec: 387.126
INFO:tensorflow:loss = 68.79011, step = 1901 (0.258 sec)
INFO:tensorflow:global_step/sec: 360.67
INFO:tensorflow:loss = 247.6452, step = 2001 (0.278 sec)
INFO:tensorflow:global_step/sec: 374.134
INFO:tensorflow:loss = 33.500164, step = 2101 (0.267 sec)
INFO:tensorflow:global_step/sec: 372.741
INFO:tensorflow:loss = 39.0993, step = 2201 (0.269 sec)
INFO:tensorflow:global_step/sec: 351.868
INFO:tensorflow:loss = 24.293997, step = 2301 (0.283 sec)
INFO:tensorflow:global_step/sec: 355.512
INFO:tensorflow:loss = 25.033808, step = 2401 (0.281 sec)
INFO:tensorflow:global_step/sec: 383.972
INFO:tensorflow:loss = 37.586643, step = 2501 (0.261 sec)
INFO:tensorflow:global_step/sec: 385.646
INFO:tensorflow:loss = 33.93833, step = 2601 (0.259 sec)
INFO:tensorflow:global_step/sec: 369.991
INFO:tensorflow:loss = 188.51225, step = 2701 (0.270 sec)
INFO:tensorflow:global_step/sec: 378.094
INFO:tensorflow:loss = 41.74317, step = 2801 (0.262 sec)
INFO:tensorflow:global_step/sec: 366.004
INFO:tensorflow:loss = 28.53979, step = 2901 (0.274 sec)
INFO:tensorflow:global_step/sec: 368.898
INFO:tensorflow:loss = 40.106815, step = 3001 (0.270 sec)
INFO:tensorflow:global_step/sec: 378.036
INFO:tensorflow:loss = 45.623405, step = 3101 (0.267 sec)
INFO:tensorflow:global_step/sec: 374.835
INFO:tensorflow:loss = 78.97517, step = 3201 (0.266 sec)
INFO:tensorflow:global_step/sec: 381.246
INFO:tensorflow:loss = 79.77696, step = 3301 (0.262 sec)
INFO:tensorflow:global_step/sec: 381.242
INFO:tensorflow:loss = 25.90788, step = 3401 (0.262 sec)
INFO:tensorflow:global_step/sec: 380.513
INFO:tensorflow:loss = 177.50954, step = 3501 (0.263 sec)
INFO:tensorflow:global_step/sec: 382.937
INFO:tensorflow:loss = 43.27528, step = 3601 (0.262 sec)
INFO:tensorflow:global_step/sec: 376.944
INFO:tensorflow:loss = 36.838203, step = 3701 (0.264 sec)
INFO:tensorflow:global_step/sec: 377.992
INFO:tensorflow:loss = 22.225235, step = 3801 (0.266 sec)
INFO:tensorflow:global_step/sec: 381.309
INFO:tensorflow:loss = 26.274866, step = 3901 (0.262 sec)
INFO:tensorflow:global_step/sec: 376.878
INFO:tensorflow:loss = 50.50435, step = 4001 (0.265 sec)
INFO:tensorflow:global_step/sec: 374.199
INFO:tensorflow:loss = 274.37802, step = 4101 (0.266 sec)
INFO:tensorflow:global_step/sec: 381.036
INFO:tensorflow:loss = 706.55, step = 4201 (0.261 sec)
INFO:tensorflow:global_step/sec: 373.595
INFO:tensorflow:loss = 101.52557, step = 4301 (0.268 sec)
INFO:tensorflow:global_step/sec: 378.358
INFO:tensorflow:loss = 45.35285, step = 4401 (0.266 sec)
INFO:tensorflow:global_step/sec: 381.615
INFO:tensorflow:loss = 25.354605, step = 4501 (0.262 sec)
INFO:tensorflow:global_step/sec: 365.88
INFO:tensorflow:loss = 190.30234, step = 4601 (0.273 sec)
INFO:tensorflow:global_step/sec: 370.052
INFO:tensorflow:loss = 46.96854, step = 4701 (0.268 sec)
INFO:tensorflow:global_step/sec: 375.331
INFO:tensorflow:loss = 37.602264, step = 4801 (0.266 sec)
INFO:tensorflow:global_step/sec: 376.883
INFO:tensorflow:loss = 104.82304, step = 4901 (0.267 sec)
INFO:tensorflow:Saving checkpoints for 5000 into C:\Users\HP\AppData\Local\Temp\tmp9b1illsg\model.ckpt.
INFO:tensorflow:Loss for final step: 93.81229.

## Evaluation
### create a prediction input function provide shuffle =FalseÂ¶

In [125]:
pred_fn=tf.estimator.inputs.pandas_input_fn(x=x_test,batch_size=len(x_test),shuffle=False)

### use model.predict() and pass in your input function.This will produce a generator of predictions ,which you can then transform into a list, with 
## list()

In [124]:
predictions=list(model.predict(input_fn=pred_fn))

INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Restoring parameters from C:\Users\HP\AppData\Local\Temp\tmp9b1illsg\model.ckpt-5000
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.

#### Each item in your list will look like this

In [126]:
predictions[0]

{'logits': array([-8.030249], dtype=float32),
 'logistic': array([0.00032536], dtype=float32),
 'probabilities': array([9.9967468e-01, 3.2536138e-04], dtype=float32),
 'class_ids': array([0], dtype=int64),
 'classes': array([b'0'], dtype=object)}

#### create a list of only the class_ids key values from the prediction list of dictionaries these are the predictions you will use to compare against the real y_test values

In [129]:
final_preds=[]
for pred in predictions:
    final_preds.append(pred['class_ids'][0])

In [131]:
final_preds[:10]

[0, 1, 0, 0, 0, 0, 1, 0, 0, 0]

#### import classfiction_report from sklearn.metrics and then see if you can figure out how to use it to easily get a full report of your model's performance

In [133]:
from sklearn.metrics import classification_report

In [134]:
print(classification_report(y_test,final_preds))

             precision    recall  f1-score   support

          0       0.85      0.92      0.89      7411
          1       0.67      0.51      0.57      2358

avg / total       0.81      0.82      0.81      9769